################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/XUnitTest/bin/Debug/netcoreapp3.1
/XUnitTest/obj
/LeetCode/obj
/LeetCode/bin/Debug/netcoreapp2.1
/bin/Debug/netcoreapp2.1
/DesignPatterns/obj
/obj/Debug/netcoreapp2.1
/obj
/XUnitTestProject1/bin/Debug/netcoreapp3.1
/XUnitTestProject1/obj/Debug/netcoreapp3.1
/XUnitTestProject1/obj
/LeetCode/.vs/ConsoleTest
/DesignPatterns/DesignPatterns/obj
